.movies{
    display: grid;
    padding-top: 5.3rem;
    padding-bottom: 5.3rem;
    grid-template-columns: repeat(auto-fit, minMax(200px, 1fr));
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    justify-content: center;
}