.movies {
  display: grid;
  padding-top: 5.3rem;
  padding-bottom: 5.3rem;
  grid-template-columns: repeat(auto-fit, minMax(200px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  justify-content: center;
}
.movie {
  background: #2e2e2e;
  padding: 5px;
  border-radius: 10px;
  transition: 0.3s;
}
.movie:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
.info {
    font-size: 12px;
    text-align: left;
}
.info > p{
    color:#837575;
}
.favoriteBtn {
    width: 100%;
    margin-top: 5px;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    text-align: center;
    cursor: pointer; 
    font-weight: bold;
  }