#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
a {
  margin: 10px;
}
.trendingMovie {
  background-color: rgb(255, 255, 255);
}

.homeCTA {
  display: flex;
  justify-self: center;
  align-items: center;
  height: 80vh;
}
.homeCTA a {
  font-size: 40px;
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 200px;
  cursor: pointer;
}
.homeCTA p {
  font-size: 30px;
  margin-bottom: 5px;
}
